<h2 align="center">Title: <%= @article.title %></h2>	
<div class="well col-xs-8 col-xs-offset-2">
	<h4 class="center description"><strong>Description:</strong></h4>
	<hr>
	<%= simple_format(@article.description) %>
  <div class="article-actions">
    <%= link_to "Editar artigo", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
    <%= link_to "Remover artigo", article_path(@article), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: "Deseja realmente remover " + "\"" + @article.title + "\"?"} %>
  </div>
</div>
