<!DOCTYPE html>
<html>
<head>
<title>Unordered List Exercise</title>
</head>
<body>
    <h1>Homepage with image</h1>
    <p>Welcome homepage with Ruby image :)</p>
</body>
</html>
<%= link_to image_tag('ruby.jpg') %>
<br>
<%= link_to 'About', about_path %>

